/* for the hover text from W3 Schools%%%%%% */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #f57c00;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: fixed;
  right: 63px;
  top: 234px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #f57c00 transparent;
}
/* for the hover text%%%%%% */
/* for the notes ####### */
h4 {
  text-align: center;
}

#savenote {
  position: relative;
  left: 500px;
  top: 10px;
}
/* for the notes###### */
#hive {
height: 70px;
width: 70px;
}

#bee {
  position: fixed;
  height: 150px;
  width: 150px;
  right: 50px;
}

#deleteBtn, #note, #saveBtn {
  margin-bottom: 50px;
}

#logoName {
  height: 800px;
  width: 800px;
  position: absolute;
  z-index: 1;
  left: -190px;
  top: -120px;
}

#flower {
  height: 100px;
  width: 100px;
}

#articleImg {
  position: relative;
  z-index: 1;
  left: -100px;
}

.container {
  position: relative;
  z-index: 1;
}

#oldNotes {
position: absolute;
top: 180px;
}